{% extends "base.html" %}

{% block title %}Process Visualizer{% endblock %}

{% block content %}

    <h1 style="text-align: center;">Processes List</h1>
    <a style="text-align: center;" href="{{ url_for('views.display_process_tree') }}">See Process Tree</a>
    <br>
    <div id="process-list" class="process-container">

    </div>
    
    <template id="process-template">
        <div class="process-card">
            <table>
                <caption></caption>
                <tbody></tbody>
            </table>
            <button class="analyze-button">Analyser</button>
        </div>
    </template>  
    <script src="{{url_for('static', filename='script.js')}}"></script>
{% endblock %}