{% extends "base.html" %}

{% block title %}Process Visualizer{% endblock %}

{% block content %}

    <h1>Liste des processus</h1>
    <a href="{{ url_for('views.display_process_tree') }}">Voir l’arbre des processus</a>
    <br>
    <div id="process-list" class="process-container">
        Chargement des processus...
    </div>
    
    <template id="process-template">
        <div class="process-card">
            <table>
                <caption></caption>
                <tbody></tbody>
            </table>
            <button class="analyze-button">Analyser</button>
        </div>
    </template>  
    <script src="{{url_for('static', filename='script.js')}}"></script>
{% endblock %}