<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Process Visualizer</title>
    <link rel="preload" href="{{ url_for('static', filename='styles.css') }}" as="style" onload="this.rel='stylesheet'">
</head>
<body>

    <h1>Liste des processus</h1>
    <a href="{{ url_for('display_process_tree') }}">🧩 Voir l’arbre des processus</a>
    <br>
    <div id="process-list" class="process-container">
        Chargement des processus...
    </div>
    
    <template id="process-template">
        <div class="process-card">
            <table>
                <caption></caption>
                <tbody></tbody>
            </table>
            <button class="analyze-button">🧪 Analyser</button>
        </div>
    </template>  
    <script src="{{url_for('static', filename='script.js')}}"></script>
</body>
</html>