{% extends "base.html" %}

{% block title %}Analyse du processus{% endblock %}

{% block content %}
    <div class="flex-container">
        <h2>{{ process_info.name }}</h2>
        <table>
            <tbody>
                {% for name, details in process_info.items() %}
                    <tr>
                        <th>{{ name }}</th>
                        <td class="value">{{ details }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    
    </div>

    
    

    <h3>Résultat d'analyse</h3>
    <p><strong>Score :</strong> {{ result["score"] }} / 100</p>
    <p><strong>Niveau de risque :</strong> {{ result["risk_level"] }}</p>

    <h4>Justifications</h4>
    <ul>
        {% for reason in result["justifications"].keys() %}
            <li>{{ reason }}</li>
        {% else %}
            <li>Aucune justification détectée</li>
        {% endfor %}
    </ul>

    <h4>Raw Metrics</h4>
    <table>
        {% for metric, value in result["raw_metrics"].items() %}
            <tr>
                <td>{{ metric }}</td>
                <td>{{ "✅" if value else "❌" }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}