{% block title %}Analyse du processus{% endblock %}

{% block content %}
    <div class="flex-container">
        <h2>{{ process_info.name }}</h2>
        <table>
            <tbody>
                {% for name, details in process_info.items() %}
                    <tr>
                        <th>{{ name }}</th>
                        <td class="value">
                            {% if name == 'opened_files' %}
                                {% if details %}
                                <div class="file-list-container">
                                    <ul class="file-list short-list">
                                        {% for file_path in details[:3] %}
                                            <li>{{file_path}}</li>
                                        {% endfor %}
                                    </ul>
                                    {% if details|length > 3 %}
                                           <ul class="file-list full-list" style="display: none;">
                                            {% for file_path in details[3:] %}
                                                <li>{{file_path}}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                    <button class="toggle-btn" onclick="toggleFileList(this)">Voir plus</button>
                                </div>
                                {% else %}
                                    <em>No opened files or access not granted</em>
                                {% endif %}
                            {% elif name == 'opened_dll' %}
                                {% if details %}
                                <div class="file-list-container">
                                    <ul class="file-list short-list">
                                        {% for dll in details[:3] %}
                                            <li>
                                                {% if dll.accessible %}
                                                    <a href="{{ url_for('views.dll_view', pid=process_info.PID,path=dll.path)}}">{{ dll.path }}</a>
                                                {% else %}
                                                    {{dll.path}} <small style="color:red;">{{dll.error}}</small>
                                                {% endif %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                    {% if details|length > 3 %}
                                        <ul class="file-list full-list" style="display: none;">
                                            {% for dll in details[3:] %}
                                                <li>
                                                {% if dll.accessible %}
                                                    <a href="{{ url_for('views.dll_view', pid=process_info.PID,path=dll.path)}}">{{ dll.path }}</a>
                                                {% else %}
                                                    {{ dll.path }} <small style="color: red;">({{ dll.error }})</small>
                                                {% endif %}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                    <button class="toggle-btn" onclick="toggleFileList(this)">Voir plus</button>
                                </div>
                                {% else %}
                                    <em>No DLL or access not granted</em>
                                {% endif %}
                            {% else %}
                                {{ details }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <script>
                    function toggleFileList(button) {
                        const container = button.parentElement;
                        const fullList = container.querySelector('.full-list');

                        if (fullList.style.display == 'none') {
                            fullList.style.display = 'block';
                            button.textContent = 'Voir moins';
                        } else {
                            fullList.style.display = 'none';
                            button.textContent = "Voir plus";
                        }
                    }
                </script>
    
    </div>

    
    

    <h3>Résultat d'analyse</h3>
    <p><strong>Score :</strong> {{ result["score"] }} / 100</p>
    <p><strong>Niveau de risque :</strong> {{ result["risk_level"] }}</p>

    <h4>Justifications</h4>
    <ul>
        {% for reason in result["justifications"].keys() %}
            <li>{{ reason }}</li>
        {% else %}
            <li>Aucune justification détectée</li>
        {% endfor %}
    </ul>

    <h4>Raw Metrics</h4>
    <table>
        {% for metric, value in result["raw_metrics"].items() %}
            <tr>
                <td>{{ metric }}</td>
                <td>{{ "✅" if value else "❌" }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}