<!DOCTYPE html>
<html>
<head>
    <title>Arbre des processus</title>
</head>
<body>
    <h1>Arborescence des processus</h1>

    {% macro render_node(node) %}
        <li>
            {{node.name}} (PID {{node.pid}})
            {% if node.children %}
                <ul>
                    {% for child in node.children %}
                        {{ render_node(child) }}
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endmacro %}

    <ul>
        {% for root in process_tree %}
            {{ render_node(root) }}
        {% endfor %}
    </ul>

</body>
</html>