<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <title>Sudoku Solver</title>
</head>
<body>
    <form method="POST">
        {{form.hidden_tag()}}        
        <div id="wrapper">
            <div id="sudoku_container">                
                    <table id="sudoku">
                        {% for row in range(1,10) %}
                            <tr>
                            {% for element in range(1,10) %}
                                <td class="element">
                                    <input type="text" name="cell" minlength="0" maxlength="1" size="0.1">
                                </td>
                            {% endfor %}
                            </tr>
                        {% endfor %}               
                    </table>
            </div>

            <div id="commands">
                <input type="submit" value="Validate input">
                <input type="button" value="Save result">
                <input type="button" value="See all results">
            </div>    
        </div>
    </form>
</body>
</html>