* {
    background-color: black;
    color: white;
    font-family: cursive;
}

h1 {
    text-align: center;
}

caption {
    padding: 5px;
}

table {
    width: 90%;
    padding: 5px;
    border: 1px solid white;
}

table:hover {
    border: 1px solid yellow;
}

th {
    text-align: left;    
    width: 10%;
    font-weight: 100;
}

.value {
    margin-left: 10px;
    width: 90%;
}

.flex_container {
    display: flex;
    justify-content: center;
}